* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Светлый фон для контента */
    
}
main {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    gap: 50px;
}
.gallery {
    width: 900px;
    

    text-align: center;
}

.main-image img {
    width: 100%;
    height: auto;
    
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    width: 70px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.thumbnail:hover {
    opacity: 1;
}


.info-micro{
    display: flex;
   
    width: 400px;
}
@media (max-width: 1300px) {

    .gallery {
        width: 700px;
        margin-right: 0;
       
    }
    main {
    
        margin: 0px ;
        
    }
}
@media (max-width: 1000px) {
    main {
       
        flex-direction: column;
       
        margin-right: 0px;
    }
    .info-micro{
        width: 100%;
        justify-content: center;
    }
    .gallery {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
}