header {
    background-color: #291111; /* Цвет заголовка */
    color: #fff; /* Цвет текста в заголовке */
    padding: 10px 20px;
    height: auto;
}

.navbar-conteiner{
    display: flex;
    width: 100%; /* Зададим ширину контейнера на 100% */
    align-items: center;
}

.logo-conteiner {
    flex: 1; /* Заставляем логотип занять всё доступное пространство */
    max-width: 100%;
}
.logo {
    
    max-width: 100%;
}
.navbar {
    display: flex;
}

.navbar-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-list li{
    margin: 30px 15px;
}

.navbar-list a{
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 21px;
}

.navbar-list a:hover{
    background-color: #3f2222;
}


.menu-icon{
    display: none;
    cursor: pointer;
    flex-direction: column;
}
.menu-icon span {
    height: 3px;
    background: #fff;
    margin: 4px 15px 4px 15px;
    width: 50px;
    border-radius: 5px;
    align-items: center;
}

.mobile-menu{
    display: none;
    background-color: #291111;
    position: absolute;
    top:70px;
    right: 0;
    width: 200px;
    border-radius: 5px;
}
.mobile-menu .navbar-list{
    flex-direction: column;
    padding:10px;
}

.mobile-menu .navbar-list li{
    margin: 10px 0;
}





@media (max-width: 450px) {
    .navbar-list li{
        margin: 30px 0px;
    }
}
@media (max-width: 1130px) {
    .navbar-list li{
        margin: 30px 0px;
    }
}
@media (max-width: 1050px) {
    
    .navbar-list a{
        font-size: 17px;
     }
}
@media (max-width: 900px) {
    
    .navbar-list a{
        font-size: 15px;
     }
}
@media (max-width: 771px) {
    header{
        padding: 15px 0px 15px 20px;
    }
    .navbar{
        display: none;
    }
    .menu-icon{
        display: flex;
    }
    .mobile-menu{
        display: none;
    }
    .mobile-menu.active{
        display: block;
    }
}
