header {
    background-color: #291111; /* Цвет заголовка */
    color: #fff; /* Цвет текста в заголовке */
    padding: 10px 20px;
    height: auto;
}

.navbar-conteiner{
    display: flex;
    width: 100%; /* Зададим ширину контейнера на 100% */
    align-items: center;
  
}

.logo-conteiner {
    flex: 1; /* Заставляем логотип занять всё доступное пространство */
    max-width: 100%;
}
.logo {
    
    max-width: 100%;
}
.navbar {
    display: flex;
}

.navbar-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-list li{
    margin: 30px 15px;
}
.navbar-list li a, .navbar-list li button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar-list li button {
    background-color: #291111;
}

.navbar-list li button:hover, .navbar-list li a:hover {
    background-color: #3f2222;
}


.menu-icon{
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    margin-left: 5px;
    width: 50px;
}
.line{
    height: 5px;
    background: #fff;
    
    width: 100%;
    border-radius: 5px;
    align-items: center;
    transition: all 0.6s ease;
}
.line2{
    margin: 6px 0px 0px 0px;
}
.line3{
    margin: 6px 0px 0px 0px;
}
.menu-icon.active1 .line1{
    transform: translateY(11px) rotate(45deg);
}
.menu-icon.active1 .line2 {
    opacity: 0;
}
.menu-icon.active1 .line3{
    transform: translateY(-11px) rotate(-45deg);
}
.mobile-menu{
    display: none;
    background-color: #301515;
    position: absolute;
    top: 75px;
    right: 0;
    width: 200px;
    border-radius: 5px;
}
.mobile-menu .navbar-list  button{
    background-color: #301515;
    
}
.mobile-menu .navbar-list{
    flex-direction: column;
    padding:10px;
}
.mobile-menu .navbar-list li{
    margin: 0;
}





@media (max-width: 450px) {
    .navbar-list li{
        margin: 30px 0px;
    }
    .button{
        margin: 30px 0px;
    }
}
@media (max-width: 1130px) {
    .navbar-list li{
        margin: 30px 0px;
    }
    .button{
        margin: 30px 0px;
    }
}
@media (max-width: 1050px) {
    
    .navbar-list a{
        font-size: 17px;
     }
     p{
        font-size: 17px;
    }
}
@media (max-width: 900px) {
    
    .navbar-list a{
        font-size: 15px;
     }
     p{
        font-size: 15px;
    }
}
@media (max-width: 771px) {
    header{
        padding: 15px 0px 15px 20px;
    }
  
    .navbar{
        display: none;
    }
    .menu-icon{
        display: flex;
    }
    .mobile-menu{
        display: none;
    }
    .mobile-menu.active{
        display: block;
    }
}